body
{
	
color: #83C9D6;
font-style: italic;
font-weight: normal;
height: 200px;
width: 200px;
}
/*
ctr + F9                 ----> 1primero selccionar luego presionar y se ordena en orden alfabetico
ctr + N                   ---> nueva pestaña
ctr + w                   --->>cerrar pestaña
ctr + avpg                 --> nav entre pestañas
ctr +  repag                ---> retroece en las pestañas
ctr + click + click         ---> te permite escribir en ambas partes
ctr +  shif  + flecha        --> al momento de seleccionar te permite mover donde se deeseee
ctr  + f                     --> permite buscar 
ctr + h 					--> permite reemplazar
Layout 						---->  permite tener colummas View -Layout
*/